@model IEnumerable<HotelArc.Kernel.Entities.Room>
@{
    ViewData["Title"] = "Room List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rooms</h1>

<div class="container mt-4">
    <div class="row">
        @foreach (Room room in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/img/@room.RoomImage" class="card-img-top" alt="Room Image">
                    <div class="card-body">
                        <h5 class="card-title">Room @room.RoomNumber</h5>
                        <p class="card-text">@room.RoomType</p>
                        <p class="card-text">Price per night: @room.Price.ToString("C")</p>
                        <p class="card-text">
                            <i class="fa @(room.IsAvaliable ? "fa-check-circle text-success" : "fa-times-circle text-danger")"></i>
                            @(room.IsAvaliable ? "Available" : "Unavailable")
                        </p>
                        <a href="/Admin/Rooms/Edit/@room.RoomId" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
