@model IEnumerable<HotelArc.Kernel.Entities.Room>
@{
    ViewData["Title"] = "Room List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rooms</h1>
<hr />
<div class="text-right">
    <a asp-controller="Rooms" asp-action="Create" class="btn btn-success">
        <i class="fa fa-plus"></i> Add New Room
    </a>
</div>

<div class="container mt-4">
    <div class="row">
        @foreach (Room room in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/img/@room.RoomImage" class="card-img-top" alt="Room Image">
                    <div class="card-body">
                        <h5 class="card-title">Room @room.RoomNumber</h5>
                        <p class="card-text">@room.RoomType</p>
                        <p class="card-text">Price per night: @room.Price.ToString("C")</p>
                        <p class="card-text">
                            <i class="fa @(room.IsAvaliable ? "fa-check-circle text-success" : "fa-times-circle text-danger")"></i>
                            @(room.IsAvaliable ? "Available" : "Unavailable")
                        </p>
                        <a href="/Admin/Rooms/Edit/@room.RoomId" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Edit
                        </a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Rooms" asp-route-id="@room.RoomId">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
